
.a{
	position: absolute;
	left: -8px;
	height: 750px;
	 width: 350px;
	 background: #59ECD6;
}
.aa{

	position: absolute;
	top: 60px;
	left: 120px;
	text-align: center;
	padding-top: 20px;
	font-family: arial;
	font-weight: bold;
	color: #59ECD6;
	background: white;
	width: 85px;
	height: 65px;
	border-radius: 5000px;
	font-size: 40px;
}
.bb{
	position: absolute;
	top: 150px;
	left: 90px;
	font-family: arial;
	font-size: 30px;
	color: white;
}
ul{
	position: absolute;
	top: 250px;
	left: -40px;
	color: white;
	font-family: arial;
	
}
li{
	font-size: 20px;
	list-style-type: none;
}
.cc{
	position: relative;
	right: 25px;
	padding-top: 15px;
	color: #59ECD6;
	height: 45px;
	width: 250px;
	text-align: center;
	background: white;
}
.box{
	position: absolute;
	top: 290px;
	height: 55px;
	width: 210px;
	border: 2px solid white;

}
.b{
position: relative;
text-align: center;
padding-top: 50px;
left: 700px;

height: 100px;
width: 500px;
}
input{
height: 35px;
width: 350px;
border-style: none;
border:2px solid #59ECD6;
}
button{
height: 40px;
width: 40px;
background: #59ECD6;
border-style: none;
border:1px solid #59ECD6;
margin-left: 30px;
color: white;

}

section{
	position: relative;
	left: 500px;
	width: 350px;
	float: left;
	margin-left: 50px;
}
.c{
	height: 4px;
	color: #59ECD6;
	background: #59ECD6;
	border-style: none;
}
h3{
	color:#59ECD6; 
}
.d{
	height: 250px;
	width: 350px;
}
.f{
	color: #59ECD6;
	font-weight: bold;
}
