img{
	width: 1500px;
	height: 500px;
}
h1{
	text-align: center;
	font-family: "cursive";
	color: #1428DF;
}
div{
	text-align: center;
}
h2{
	text-align: center;
	font-family:"Algerian";
	color: #F50413; 
}