div{
	background-image: url(https://www.zingerbug.com/Backgrounds/background_images/light_purple_construction_paper_seamless.jpg); 
	padding: 20px;
	width: 60%;
	height: 500px;

}
p{
	font-size:  20px;
}