body{
	background: url(https://wallpapercave.com/wp/wp2590323.png);
	
}
table  {
     border: 3px solid black;
     width: 60%;
     margin-left: 20%;
}
th, td{
	border: 3px solid black;

}
img{
	width: 100%;
	height: 200px;
}
.b{
	background: #546CF8;
}
.a{
	background: #546CF8;
}
.c{
	background: #75798C  ;
	width: 25%;
	vertical-align: top;
}
.d{
	text-align: center;
	background: #546CF8;
	font-color:#546CF8;
}
div{
	width:30%;
	float: right;
}
