body{
	background:white;
}
.a{
	color: black;
}
.bb{
	color: blue;
	font-size: 35px;
}
.aa
{
	color: black;
}
.cc
{
	border: 2px solid black;
	background-color: red;
	border: none;
}
.dd
{
	color: white;
	font-size: 35px;

}
.c{

	text-align: center;
	
	background: url(https://flockler.com/thumbs/sites/192/freekeh-salad_s600x600_c2646x1545_l0x954.jpg);
	height: 300px;

}   

.d{


	text-align: center;
	
	background-image: url(https://cdn.shopify.com/s/files/1/2295/5105/files/Whole_Bean_Coffee_1024x1024.jpg?v=1539978481);
	height: 250px;
}
.e{
	text-align: center;
	
    background-image: url(https://agfstorage.blob.core.windows.net/misc/FP_com/2020/01/24/Aman.jpg);
    height: 250px;

}
p{
	color: black;
}