

h4{
	margin-top: 5px; 
	border: 1px solid black;
	text-align: center;
	background-color: #8DCDF0 ;
	height: 30px;
}
.b{
	width: 1520px;
	border: 1px solid black;
	position: absolute;
	top: 50px;
	background: #B3BCC1;

}
.c{
  border: 1px solid black;
  margin-top:40px;
  padding-left: 20px;
  position: relative;

}
.submit{
	position: relative;
	left:10px;
}
h3{
	border: 1px solid black;
	width: 150px;
	height: 30px;
	position: relative;
	bottom: 18px;
	background: white;
	margin: 1px;
}
.y{
	position: absolute;
	right: 20px;
	top: 15px;
}